# Ignorar archivos de Jupyter Notebook
.ipynb_checkpoints/

# Ignorar datasets y bases de datos
data/*.csv
data/*.jsonl
data/*.db

# Ignorar archivos de entorno virtual
env/
venv/

# Ignorar archivos de logs y temporales
*.log
__pycache__/
